#dsct-come-visit {
  margin: 0 20px;
}

#dsct-comments {
  background-color: var(--dsct-color-bg-secondary);
  padding-bottom: 5px;
}

.dsct-come-visit-container {
  width: 100%;
  max-width: 746px;
  margin: 0 auto;
}

.dsct-title {
  font-size: 16px;
  color: var(--dsct-color-font-secondary);
  text-align: center;
  padding-top: 25px;
}

@media (min-width: 576px) {
  .dsct-title {
    font-size: 24px;
  }
}
