#dsct-come-visit {
  padding: 10px 0;
  margin: 0 10px;
}

#dsct-comments {
  background-color: var(--dsct-color-bg-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
}

.dsct-come-visit-container {
  width: 100%;
  max-width: 746px;
  margin: 0 auto;
}

.dsct-title {
  font-size: 16px;
  color: var(--dsct-color-font-secondary);
  text-align: center;
}
